.custom {
    font-size: 23px;
}
.profile .tab .tab-content .tab1 {
    position: relative;
}
.register-course .wrap label {
    position: relative;
}

.error-text {
    position: flex;
    left: 231px;
    width: 100% !important;
    bottom: -19px;
    font-size: 13px;
    color: #c00000;
    font-weight: 100;
}

.nav ul li.active {
    background: unset;
}
.nav ul li.active a {
    color : black;
}

.nav ul li a.active {
    background: #00afab;
    color: black;
}

.loading-page {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #20afab;
    border-radius: 100%;
    transform: scale(0);
    transition: all .5s ease;
    z-index: 1000;
}

label {
    position: relative;
}
